// Custom styles.
// Custom styles.
code {
  margin: 2px;
  background: #fbf7f8;
  color: #ff7600;
}

.mp-image {
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
  border: $site-author-image-border-width solid $site-author-image-border-color;
  opacity: hexo-config('avatar.opacity') is a 'unit' ? hexo-config('avatar.opacity'):1;
}

.inline-img {
  .exturl {
    border: none;

    a {
      border: none;
      cursor: pointer;

      &:hover {
        border-bottom: none;
      }
    }

    .fancybox {
      img {
        display: inline !important;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: middle;
      }
    }

    .nofancybox {
      display: inline !important;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      vertical-align: middle;
    }

    i.fa {
      margin-left: 0;
      font-size: 0;
    }
  }
}
